# this is the file that distutils parses for what to include

graft Doc/build/html
include Doc/Makefile
graft Doc/source
include Doc/SpacePy.pdf
graft spacepy/libspacepy
graft spacepy/pybats/sample_scripts
graft tests
recursive-include spacepy *.c *.h
prune spacepy/onerapy
graft spacepy/irbempy
#prune spacepy/irbempy/irbem-lib-*
include spacepy/LANLstar/*
recursive-exclude spacepy/libspacepy *.o *.pyc
recursive-exclude tests *.o *.pyc
recursive-exclude spacepy/irbempy *.o *.pyc
recursive-exclude Doc *.bak

prune spacepy/sandbox
prune tests/htmlcov
prune Doc/generated
